<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard-container">
        <h2>Welcome, {{ username }}</h2>
        <h3>Current Time: {{ current_time }}</h3>
        <h3>Available Rooms</h3>
        <table>
            <thead>
                <tr>
                    <th>Room Number</th>
                    <th>Available Until</th>
                </tr>
            </thead>
            <tbody>
                {% if empty_rooms %}
                    {% for room, availability in empty_rooms %}
                    <tr>
                        <td>{{ room }}</td>
                        <td>{{ availability }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2">No available rooms at the moment.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>